.headBar {
    display: flex;
    justify-content: center;
    color: white;
    background: linear-gradient(to bottom, #0066cc 0%, #ffff00 100%);;
    font-size: 36px;
    font-weight: 600;
    padding: 30px;
}

/* put weather containers in the correct spot on the page */
.mainWeatherContainer {
    display: flex;
}

.weatherBox {
    display: flex;
    flex-direction: column;
}

.forecastContainer {
    display: flex;
    flex-direction: column
}

.forecastBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* end page organization */

/* search button styles */
.searchbtn {
    background-color: #0066cc;
    border-radius: 5px;
    width: 85%;
    color: white;
    padding: 5px;
}

.searchBar {
    margin: 0 0 5px 0;
}
/* end search btn styles */

/* body styles */
.cityWeatherBox {
    outline: solid 2px #003366;
    margin-top: 1em;
}

/* search history */
.searchInputBox {
    padding: 0 .5rem;
}

.recentSearches {
    display: flex;
    flex-direction: column;
    border-top: solid 2px #b7b7b7;
    margin: 10px 0 0 0;
    width: 85%;
}

.viewSearch {
    color: black;
    background-color: #B7B7B7;
    width: 95%;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 5px;
}
/* end search history */

/* 5 day weather forecast styles */

.weatherDayBox {
    background-color: #013365;
    color: white;
    margin: 0 1em 0 0;
    padding: 1em;
    
}

/* utility class */
.hidden {
    display: none;
}